#container {
  width: 100%;
}
/* 서브 타이틀 */
.sub_tit_wrap {
  width: 100%;
  height: 98px;
  background: #ffffff;
  padding-top: 121px;
}
.sub_tit_wrap div.sub_tit_inner {
  width: 1100px;
  height: 91px;
  margin: 0 auto;
  position: relative;
}
.sub_tit_wrap h2 {
  font: bold 36px Avenir, Arial, georgia;
  color: #222222;
  padding-top: 30px;
  position: relative;
}

ul.smap {
  position: absolute;
  right: 0;
  top: 60px;
}
ul.smap li {
  vertical-align: middle;
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 0 2.5px;
}
ul.smap a {
  font-size: 12px;
  color: #666666;
}
ul.smap a.this {
  font-size: 12px;
  color: #222222;
}
ul.smap img.arrow {
  position: relative;
  top: 2px;
}

/* 분류 보기 */
div.product_kind_wrap {
  width: 1100px;
  margin: 0 auto;
  padding: 30px 40px 0 40px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: left;
}
div.product_kind_wrap p.tit {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dl.product_kind_tab dt a {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  text-align: center;
}
div.product_toggle_wrap {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  position: relative;
}
dl.product_kind_tab dt a.selected {
  background: #006633;
  color: #fff;
}

dl.product_kind_tab dt {
  position: absolute;
  top: 30px;
}
dl.product_kind_tab dt.dt1 {
  left: 0;
}
dl.product_kind_tab dt.dt2 {
  left: 210px;
}
dl.product_kind_tab dt a.selected {
  background: #006633;
  color: #fff;
}

/* 공통 스타일 */
div.product_kind_wrap {
  width: 1100px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: left;
}

div.product_kind_wrap p.tit {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* 탭 스타일 */
dl.product_kind_tab dt a {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  text-align: center;
}

dl.product_kind_tab dd {
  padding-top: 55px;
}

dl.product_kind_tab dd.app {
  padding-top: 0;
}

/* 선택 항목 스타일 */
div.product_kind_wrap div.product_select_wrap ul {
  width: 1040px;
}

div.product_kind_wrap div.product_select_wrap ul:after {
  content: "";
  display: block;
  clear: both;
}

div.product_kind_wrap div.product_select_wrap ul li {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  float: left;
  margin-right: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* 링크 스타일 */
a:hover,
a:focus {
  text-decoration: underline;
}
