/* 음료 목록 */
.dirink_menu_1 {
  padding: 100px 0 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#container {
  width: 100%;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #666;
  background: transparent;
  cursor: pointer;
}

/* 서브 타이틀 */
.sub_tit_wrap {
  width: 100%;
  height: 98px;
  background: #ffffff;
}
.sub_tit_wrap div.sub_tit_inner {
  width: 1100px;
  height: 91px;
  margin: 0 auto;
  position: relative;
}
.sub_tit_wrap h2 {
  font: bold 36px Avenir, Arial, georgia;
  color: #222222;
  padding-top: 30px;
  position: relative;
}

ul.smap {
  position: absolute;
  right: 0;
  top: 60px;
}
ul.smap a {
  font-size: 12px;
  color: #666666;
}
ul.smap li {
  vertical-align: middle;
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 0 2.5px;
}
nav ul,
li {
  list-style: none;
}
.content02 {
  width: 1100px;
  margin: 0 auto;
}

/* 음료 관련 정보 */
#container h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
  padding: 20px;
  background: #f4f4f2;
  border-radius: 3px;
}
/* 가격 정보 */
.prod-buy-quantity {
  margin-top: 20px;
  position: relative;
  clear: both;
  display: inline-block;
  width: 80px;
}
.prod-buy-quantity .prod-quantity__form {
  display: table;
  width: auto;
  border: 1px solid #ccc;
}
.prod-buy-quantity .prod-quantity__input {
  vertical-align: top;
  text-align: center;
  border: 0;
  width: 61px;
  height: 40px;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  color: #111;
  line-height: 25px;
  padding: 11px 0 9px 0;
}
/* 아이콘 스타일. */
.prod-buy-quantity .prod-quantity__plus i,
.prod-buy-quantity .prod-quantity__minus i {
  font-size: 20px;
  color: #333;
}

/* 음료 상세보기 */
div.product_view_wrap1 {
  width: 1100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}
div.product_view_wrap1:after {
  content: "";
  display: block;
  clear: both;
}
div.product_view_pic {
  width: 450px;
  float: left;
}
div.product_view_pic ul {
  width: 450px;
}
div.product_view_pic:after {
  content: "";
  display: block;
  clear: both;
}
div.product_view_pic ul li {
  float: left;
}

div.product_view_pic div.product_big_pic {
  position: relative;
  width: 450px;
  height: 470px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.product_view_pic div.product_big_pic .zoomImg {
  width: 100%;
  max-width: 450px;
  height: auto;
  max-height: 470px;
  position: relative;
}
div.product_view_pic div.card_big_pic {
  position: relative;
  height: 286px;
}
div.product_view_pic div.card_big_pic a {
  cursor: default;
}
div.product_view_pic div.product_big_pic p.more_btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
#product_thum_wrap img {
  width: 100%;
  max-width: 106px;
  height: auto;
}
div.zoomWindowContainer div {
  border: 1px solid #ddd !important;
}

div.product_view_pic ul.product_thum li {
  margin-right: 8px;
  width: 106px;
  height: 111px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.product_view_pic ul.product_thum li:nth-child(4),
div.product_view_pic ul.product_thum li:nth-child(8),
div.product_view_pic ul.product_thum li:nth-child(12) {
  margin-right: 0;
}
div.product_view_pic ul.product_thum li.last {
  margin-right: 0;
}
.product_thum_wrap img {
  width: 100%;
  max-width: 106px;
  height: auto;
}

div.product_view_detail {
  width: 610px;
  float: right;
  position: relative;
}
div.product_view_detail div.myAssignZone {
  position: relative;
}
div.product_view_detail h4 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
  border-bottom: 2px solid #333;
  padding-bottom: 18px;
  margin-bottom: 20px;
}
div.product_view_detail h4 span {
  font-size: 14px;
  font-family: "Arial";
  font-weight: normal;
  color: #666;
}
div.product_view_detail p.t1 {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
  min-height: 40px;
}
div.product_view_detail p.card_launch {
  padding: 18px 12px;
  background: #f4f4f2;
  color: #222;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 20px;
}
div.product_view_detail p.card_launch span {
  color: #222;
}
div.product_view_detail div.myDrink {
  position: relative;
  margin-top: 4px;
}
div.product_view_detail div.myDrink a {
  display: block;
  width: 100%;
  padding: 12px 0;
  background: #fff;
  font-size: 14px;
  color: #000;
  text-align: center;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  box-sizing: border-box;
}
div.product_view_detail div.myDrink span {
  position: relative;
  padding-left: 20px;
}
div.product_view_detail div.myDrink span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("https://image.istarbucks.co.kr/upload/common/img/icon/icon_favorite.png")
    0 0 no-repeat;
  background-size: 16px;
}
div.product_view_detail div.myAssignZone .storeInfo {
  display: block;
  padding-top: 20px;
  color: #444;
  font-size: 16px;
}

div.product_view_detail div.product_info_head {
  height: 59px;
  line-height: 59px;
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
div.product_view_detail div.product_info_head p.tit {
  font-size: 18px;
  color: #222;
  padding-left: 10px;
}

div.product_view_detail div.product_select_wrap2 {
  /* width: 375px; */
  position: absolute;
  right: 6px;
  top: 1.5px;
  display: inline-block;
}
div.product_view_detail div.product_select_wrap2:after {
  content: "";
  display: block;
  clear: both;
}
